/* Font taken from: --> http://www.theleagueofmoveabletype.com/fonts/13-prociono <--. Thanks! */
@font-face { font-family: Prociono; src: url('Prociono.otf'); }

body {
	margin: 0;
	width: 100%;
	min-width: 960px;
	font-family: Prociono;
}
header {
	background: #EEE;
	border-top: 4px solid black;
	border-bottom: 1px dashed black;
}
div#message {
	background: #B56767; /* red */
	background: #B2B567; /* yellow - to be improved! */
	background: #7BB567; /* green */
	color: white;
	text-align: center;
	font-variant: small-caps;
	font-size: 1.3em;
	padding: 10px 0px;
}
section {
	font-size: 1.2em;
}
section#head {
	width: 80%;
	margin: 0 auto;
	/*border-bottom: 1px dotted gray;*/
}
section#semester-view {
	margin: 0 auto;
	width: 80%;
}
section#courses-pool {
	padding: 1px 0%;
	/* multiple backgrounds - css3, yeah! */
	background-image: url(../images/placeholder.png), url(../images/shadow.png), url(../images/shadow_reverse.png), url(../images/bg_pattern.png);
	background-repeat: no-repeat, repeat-x, repeat-x, repeat;
	background-position: center left, top left, bottom left, center left;
	border: 1px dotted black;
}
footer {
	background: #EEE;
	border-bottom: 4px solid black;
	/*border-top: 1px solid black;*/
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	height: 328px;
}
h1 {
	margin: 0;
	padding: 50px 50px;
	font-family: Prociono;
	font-size: 2.5em;
	color: #111;
}
h1 img {
	height: 1.5em;
	margin-left: 20px;
	position: relative;
	top: 15px;
}
h2 {
	float: left;
	width: 14.5%;
	margin: 15px 0px;
	padding: 0px 1%;
	text-align: center;
}

#head select {
	display: none;
}
.courses {
	list-style-type: none;
	width: 14.5%;
	border-top: 1px dotted gray;
}
.courses li {
	font-size: 1.2em;
	height: 1.5em;
	cursor: move;
	border: 1px solid black; /* maybe border: 1px solid gray; looks better? */
	text-align: center;
	margin: 15px 0px;
	border-radius: 5px;
	position: relative;

	/* gradients in whole document created by: --> http://www.colorzilla.com/gradient-editor/ <--. Thanks! */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}

.courses li:active {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* W3C */
}

.courses li.disabled {
	background: #DDD;
	border: 1px solid gray;
}
.courses li.disabled:hover {
	cursor: auto;
}

.courses li a {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 5px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	text-align: center;
	font-size: 0.5em;
}
.courses li a:hover {
	background: black;
	color: white;
}

/* Post-it effect taken from --> http://nicolasgallagher.com/pure-css-folded-corner-effect/ <---. Thanks! */
/* TODO: I think a complete redesign of tooltip is neccessary - does not like quite good right now. */
.info {
	display: none;
	width: 250px;
	height: 300px;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 1em 1.5em;

	/*background: #DDCA21;
	overflow:hidden;
	border-radius:5px 0 5px 5px;*/

	background: rgba(0, 0, 0, 0.92);
	border: 6px solid #AAA;
	color: white;
	border-radius: 10px;
	/*box-shadow: 0px 0px 0px black, 0px 0px 0px black;*/


}
/*
.info:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #DDCA21 white;
	display: block;
	width: 0;
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	border-width: 15px;
	border-color: #FFF #FFF transparent transparent;
	border-radius: 0 0 0 2px;
}*/

.chosen {
	margin: 0;
	padding: 15px 1%;
	float: left;
	min-height: 400px;
	border-right: 1px dotted gray;
}

.chosen:first-child {
	border-left: 1px dotted gray;
}
#courses-pool ul {
	float: left;
	padding: 0;
	width: 11.6%; /* 80% (chosen list box-width) * 14.5% (width of one list) */
}
#courses-pool ul:first-child {
	margin-left: 15%;
}
#courses-pool ul li {
	margin: 0px;
}

.placeholder-highlight {
	height: 1.5em;
	background: white !important;
	height: 2.0em;
	border: 1px dashed #666 !important;
}
