/*
 * Creator: Stefan Bunk
 */

/* Font taken from: --> http://www.theleagueofmoveabletype.com/fonts/13-prociono <--. Thanks! */

@font-face {
	font-family: 'ProcionoRegular';
	src: url('prociono-webfont.eot');
	src: url('prociono-webfont.eot?#iefix') format('embedded-opentype'),
		url('prociono-webfont.woff') format('woff'),
		url('prociono-webfont.ttf') format('truetype'),
		url('prociono-webfont.svg#ProcionoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	width: 100%;
	min-width: 960px;
	font-family: ProcionoRegular;
}
header {
	background: #EEE;
	border-top: 4px solid black;
	border-bottom: 1px dashed black;
}
div#message {
	background: #B56767; /* red */
	background: #B2B567; /* yellow - to be improved! */
	background: #7BB567; /* green */
	background: #333;
	/*border: 3px solid #333;*/
	color: white;
	font-size: 1.8em;
	height: 2em;
	line-height: 2em;
	padding: 10px 0;
	overflow: hidden;
}
div#message div {
	position: absolute;
	right: 40px;
	height: 1em;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
div#message div button {
	vertical-align: top;
	font-size: 1em;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: white;
	visibility: hidden;
}
div#message ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-indent: 5em;
}
div#message a {
	color: black;
}
.teaser {
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}
section {
	font-size: 1.2em;
}
section#head {
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 1280px) {
	section#head {
		width: 100%;
	}
	#semester-view {
		width: 100% !important;
	}
	#courses-pool > ul {
		width: 14.5% !important; /* 100% (chosen list box-width) * 14.5% (width of one list) */
	}
	#courses-pool > ul:first-child {
		margin-left: 7% !important;
	}
} 
section#semester-view {
	margin: 0 auto;
	width: 80%;
}
section#courses-pool {
	padding: 1px 0%;
	/* multiple backgrounds - css3, yeah! */
	background-image: url(../images/placeholder.png), url(../images/shadow.png), url(../images/shadow_reverse.png), url(../images/bg_pattern.png);
	background-repeat: no-repeat, repeat-x, repeat-x, repeat;
	background-position: center left, top left, bottom left, center left;
	border: 1px dotted black;
	position: relative; /* needed to be able to position filter absolute */
	min-height: 500px;
}
div#filter-button {
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 0px;
	height: 200px;
	width: 50px;
	background:#ccc;
	border-radius: 0px 10px 10px 0px;
	text-transform: uppercase;
	cursor: pointer;
}
/* text-shadow-effect taken from --> http://www.onlinecasinodemar.com/webdesign/xhtml-css/beeindruckende-effekte-mit-der-css-eigenschaft-text-shadow/ <-- */
div#filter-button h2 {
	-webkit-transform: rotate(90deg) translate(50%, 5px);
	-moz-transform: rotate(90deg) translate(50%, 5px);
	-ms-transform: rotate(90deg) translate(50%, 5px);
	-o-transform: rotate(90deg) translate(50%, 5px);
	transform: rotate(90deg) translate(50%, 5px);
	margin: 0;
	font-size: 1.9em;
	color:#505050;
	text-shadow: 1px 1px 0px #fff;
	letter-spacing: 6px;
}
div#filter {
	width: 90%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
}
div#filter-options {
	position: absolute;
	background: rgba(0, 0, 0, 0.65);
	top: 15px;
	bottom: 15px;
	left: 90px;
	right: 25px;
	border-radius: 10px;
}
div#filter-options ul {
	list-style-type: none;
	padding: 0;
	margin: 10px;
	color: white;
}
#semester_wahlpflicht {
	float: left;
	width: 300px;
}
#module_vertiefungsgebiete {
	width: 650px;
	float: left;
}
#module_vertiefungsgebiete ul {
	float: left;
}
div#filter-options ul li {
	display: block;
	cursor: pointer;
	background: white;
	border: 2px solid black;
	color: black;
	width: 250px;
	padding: 15px;
}
div#filter-options ul li:before {
	content: '☐';
	padding-right: 30px;
}
div#filter-options ul li.selected:before {
	content: '☑';
	content: '☒';
	padding-right: 30px;
}
footer {
	background: #EEE;
	border-bottom: 4px solid black;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
}
h1 {
	margin: 0;
	padding: 50px 50px;
	font-size: 2.5em;
	font-weight: normal;
	color: #111;
}
h1 img {
	height: 1.5em;
	margin-left: 20px;
	position: relative;
	top: 15px;
}
h1 span {
	color: #555;
	margin-left: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.5em;
}
#head h2 {
	float: left;
	width: 14.5%;
	margin: 15px 0px;
	font-weight: normal;
	padding: 0px 1%;
	text-align: center;
}

#head select {
	width: 100%;
	background: white;
	font-size: 1em;
	border: 1px solid gray;
	font-family: ProcionoRegular;
	text-align: center;
}

.courses {
	list-style-type: none;
	width: 14.5%;
	border-top: 1px dotted gray;
}
.courses li {
	font-size: 1.1em;
	height: 2.7em;
	cursor: move;
	border: 1px solid black;
	text-align: center;
	margin: 0.75em 0;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

	/* gradients in whole document created by: --> http://www.colorzilla.com/gradient-editor/ <--. Thanks! */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}

.courses li:active {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* W3C */
}

.courses li.disabled {
	background: #DDD;
	border: 1px solid gray;
}
.courses li.disabled:hover {
	cursor: auto;
}
.courses li.oneliner {
	line-height: 2.7em;
}
.courses li.double-time {
	height: 6.2em;
	line-height: 6.2em;
}
.courses li.triple-time {
	height: 9.75em;
	line-height: 9.75em;
}

.courses li button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 5px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	text-align: center;
	font-size: 0.5em;
}
.courses li button:hover {
	background: black;
	color: white;
	cursor: pointer;
}

/* Post-it effect taken from --> http://nicolasgallagher.com/pure-css-folded-corner-effect/ <---. Thanks! */
/* TODO: I think a complete redesign of tooltip is neccessary - does not like quite good right now. */
.info {
	display: none;
	width: 500px;
	min-height: 350px;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;

	background: rgba(0, 0, 0, 0.92);
	border: 10px solid black;
	color: white;
	border-radius: 10px;

	background: white;
	border: 6px solid #333;
	color: #444;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 1.2em;
}
.info div {
	padding: 1em 1.5em;
	line-height: 1.6em;
}
h3 {
	color: black;
	background: #DDD;
	margin: 0;
	padding: 15px 15px 10px 30px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
.info table {
	border-collapse: collapse;
	border: 1px solid #DDD;
}
.info tr:nth-child(even) {
	background: #F1F1F1;
}
.info tr:nth-child(odd) {
	background: #F9F9F9;
}
.info tr td:first-child {
	border-right: 1px dotted gray;
	padding: 0px 10px;
	font-weight: bold;
}
.info td {
	padding: 14px;
}
/*
.info:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #DDCA21 white;
	display: block;
	width: 0;
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.2);
	border-width: 15px;
	border-color: #FFF #FFF transparent transparent;
	border-radius: 0 0 0 2px;
}*/

.chosen {
	margin: 0;
	padding: 15px 1%;
	float: left;
	min-height: 21em;
	border-right: 1px dotted gray;
}

.chosen:first-child {
	border-left: 1px dotted gray;
}
#courses-pool > ul {
	float: left;
	padding: 0;
	width: 11.6%; /* 80% (chosen list box-width) * 14.5% (width of one list) */
}
#courses-pool > ul:first-child {
	margin-left: 10%;
}
#courses-pool > ul li {
	margin: 4px;
}
#courses-pool .hidden {
	display: none;
}

.placeholder-highlight {
	height: 1.5em;
	background: #FAFAFA !important;
	height: 2.0em;
	border: 1px dashed #666 !important;
}


/* Following styles are taken from --> http://twitter.github.com/bootstrap/ <---. Thanks! */

.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.secondary,
.alert-message.secondary,
.btn.secondary:hover,
.alert-message.secondary:hover {
  color: #ffffff;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.secondary, .alert-message.secondary{
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn {
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.primary {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
}
.primary:hover {
  color: #fff;
}
.btn {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn.primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.primary:hover {
  color: #fff;
}
.btn.large {
  font-size: 16px;
  line-height: 28px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 11px;
}
.btn.disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn:disabled.primary {
  color: #fff;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn.primary {
  color: #fff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.btn:disabled {
  cursor: default;
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.large {
  font-size: 16px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
